{% extends 'base.html' %}

{% block title %}Create New Member{% endblock %}

{% block content %}
    <style>
    body, html{
     height: 100%;
}

    </style>
    <div class="container">
			<div class="row main">
				<div class="main-login main-center">
                     <h2 class="head-style" > Create New Member</h2>
                    <form method="POST">

						<div class="form-group">
							{{ form.csrf_token }}
                                <p> {{form.first_name.label}} {{form.first_name(class_='form-control', placeholder="First Name")}}</p>

                                {% if form.first_name.errors %}
                                    <div class="alert alert-warning">
                                        Invalid First Name
                                     </div>
                                {% endif %}
						</div>

						<div class="form-group">
							<p> {{form.last_name.label}} {{form.last_name(class_='form-control' , placeholder="Last Name")}}</p>
                                {% if form.last_name.errors %}
                                      <div class="alert alert-warning">
                                        Invalid Last Name
                                     </div>
                                {% endif %}
						</div>

						<div class="form-group">
							<p> {{form.email.label(for="inputEmail", class_="control-label")}} {{form.email(class_='form-control', type="email", id="inputEmail", placeholder="ex: email@gmail.com", dataerror="Bruh, that email address is invalid")}}</p>
                                {% if form.email.errors %}
                                    <div class="alert alert-warning">
                                        Invalid Email Address
                                     </div>
                                {% endif %}
						</div>

						<div class="form-group">
							 <p> {{form.phone_number.label}} {{form.phone_number(class_='form-control', placeholder="ex: 224-656-8205")}}</p>
                                {% if form.phone_number.errors %}
                                    <div class="alert alert-warning">
                                        Invalid Phone Number
                                     </div>
                                {% endif %}
						</div>
                     <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <p> {{form.gender.label}} {{form.gender(class_='form-control')}}</p>
                            </div>
                        </div>


                         <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <p> <label>Birthday</label> <input type="date" style="color: black" name="Birthday" required/></p>
                            </div>
                         </div>

                         <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <p> {{form.baptism_status.label}} {{form.baptism_status(class_='form-control')}}</p>
                            </div>
                         </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <p> {{ form.marital_status.label }} {{ form.marital_status(class_='form-control') }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <p> <label>Join Date</label> <input type="date" style="color: black" name="JoinDate" required/></p>
                            </div>
                        </div><br>

						<div class="form-group ">
                              <p> {{ form.submit(class_='btn btn-primary btn-lg btn-block', style="display: block; width: 100%; font-family: 'Questrial', sans-serif;")}}</p>
						</div>

					</form>
				</div>
			</div>
		</div>



{% endblock %}