{% extends 'base.html' %}

{% block title %}Attendance Reports{% endblock %}

{% block content %}

<h1 class="head-style">Create New Member</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col form-group pull-left">
 <div class="col form-group pull-left">
            <a href="{{url_for('create_new_member_for_homegroup', homegroup_id = homegroup_id)}}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
                Create New Member
             </a>
        </div>
            <br><br>
        <hr>
        <h1>Search for existing member</h1>
        <div class="col col-md-6  form-group pull-left">
           <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="search form-control" placeholder="Search">
           </div>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered table-hover results">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for member in all_members %}
    <tr>
    <td>{{ member.first_name }}</td>
    <td>{{ member.last_name }}</td>
    <td> {{ member.email }}</td>
    <td>
        <a href="{{url_for('add_member_to_homegroup', homegroup_id = homegroup_id, member_id = member.id  )}}" class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-plus"></span> Add to Home Group
            </a>

    </tr>
    {% else %}
    <tr>
        <td colspan="4">No Info</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

